<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.hu.fed.actortemplateapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-feature
            android:name="android.hardware.camera"
            android:required="true" />

        <activity
            android:name=".activity.ShowProjects"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity android:name=".activity.SignInActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        </activity>

        <activity
            android:name=".activity.ShowProjectContent"
            android:label="Project detail"
            android:parentActivityName=".activity.ShowProjects"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.hu.fed.actortemplateapp.activity.ShowProjects" />
        </activity>

        <activity
            android:name=".activity.CreateProject"
            android:label="New Project"
            android:parentActivityName=".activity.ShowProjects"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.hu.fed.actortemplateapp.activity.ShowProjects" />
        </activity>

        <activity
            android:name=".activity.CreateActor"
            android:label="New Actor"
            android:parentActivityName=".activity.ShowProjectContent"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.hu.fed.actortemplateapp.activity.ShowProjectContent" />
        </activity>

        <activity
            android:name=".activity.BaseActivity"
            android:label="@string/title_activity_base"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.ShowActorContent"
            android:label="Actor detail"
            android:parentActivityName=".activity.ShowProjectContent"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.hu.fed.actortemplateapp.activity.ShowProjectContent" />
        </activity>

        <activity
            android:name=".activity.ShowPersonContent"
            android:label="Person detail"
            android:parentActivityName=".activity.ShowActorContent"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.hu.fed.actortemplateapp.activity.ShowActorContent" />
        </activity>

        <activity
            android:name=".activity.CreatePerson"
            android:label="New Person"
            android:parentActivityName=".activity.ShowActorContent"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.hu.fed.actortemplateapp.activity.ShowActorContent" />
        </activity>

        <activity
            android:name=".activity.MyAccount"
            android:label="My Account"
            android:parentActivityName=".activity.ShowProjects"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.hu.fed.actortemplateapp.activity.ShowProjects" />
        </activity>

        <activity android:name=".activity.Archive"
            android:label="Archive"
            android:parentActivityName=".activity.ShowProjects"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.hu.fed.actortemplateapp.activity.ShowProjects" />
        </activity>
    </application>

</manifest>